@page
@model A_ProjectUMS.Pages.UsersModel


<h1>Users</h1>
<hr />

<style>
    .center {
        text-align: center;
    }

    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

<div class="center">
    <div class="pagination">
        <a href="?page=1">&laquo;</a>
        <a href="?page=@(Model.current - 1)">&lt;</a>
        <a href="?page=1">1</a>
        <a href="?page=2">2</a>
        <a href="?page=3">3</a>
        <a href="?page=@(Model.current + 1)">&gt;</a>
        <a href="?page=@(Model.current + 5)">&raquo;</a>
    </div>
</div>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>Name</th>
        <th>Edit | Delete</th>
    </tr>
    @foreach (var item in Model.UsersList)
    {
        <tr>
            <td>
                <a asp-page="./ViewUsers" asp-route-id="@item.UsersID">@(item.FirstName + " " + item.LastName)</a>
            </td>
            <td>
                <a asp-page="./EditUsers" asp-route-id="@item.UsersID">Edit</a> |
                <a asp-page="./AllUsers" onclick="return confirm('Are you sure you want to delete this item?');"
                   asp-page-handler="Delete" asp-route-id="@item.UsersID">Delete</a>
            </td>
        </tr>
    }

</table>
<hr />

<a asp-page="./CreateUser" asp-route-id="UsersID">Create new User</a>