@page
@model A_ProjectUMS.Pages.EditUsersModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Edit User Details</h1>
<hr /> 
<form method="POST">
   

    <div class="form-group">
    <label>Name</label>
    <input asp-for="UserSelected.FirstName" type="text" class="form-control" id="FirstName" placeholder="FirstName" />
    </div> 
    
    <div class="form-group">
    <label>Name</label>
    <input asp-for="UserSelected.LastName" type="text" class="form-control" id="LastName" placeholder="LastName" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input asp-for="UserSelected.Password" type="text" class="form-control" id="Password" placeholder="Password" />
    </div>

    <div class="form-group">
        <label>Cohort</label>
        <input asp-for="UserSelected.CohortID" type="text" class="form-control" id="CohortID" placeholder="CohortID" />
    </div>

    <div class="form-group">
        <label>Role</label>
        <input asp-for="UserSelected.RoleID" type="text" class="form-control" id="RoleID" placeholder="RoleID" />
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form> 
