
@{
    ViewBag.Title = "JKView";
    ViewBag.SubTitle = "firs ever razor web page";
}
<h1> Razor syntax</h1>
<h2>ViewBag.Title</h2>
<h2>ViewBag.SubTitle</h2>


<p> Here is my Hello World ASP.Net Razor Web Page</p>

<ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
</ul>
